/* google font below */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* universal start */
body {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* universal end */

/* header section world cup start */
.world-cup-container {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

.world-cup {
    height: 60vh;
    width: 77%;
    background-color: black;
    display: flex;
    border-radius: 5px;
}

/* flex child div tag  start below*/
.world-cup-text {
    height: 100%;
    width: 50%;
    background-color: black;
    margin-bottom: 130px;
}

.greatest {
    font-size: 25px;
    font-weight: 700;
    color: #FFFFFF;
    padding-left: 100px;
    margin-bottom: 30px;
    padding-top: 30px;
}

.the-official {
    font-weight: 400px;
    font-size: 10px;
    color: #FFFFFF;
    padding-left: 100px;
    margin-bottom: 30px;

}

.watch-button {
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid #DD0000;
    background-color: #DD0000;
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: 100px;

}

.world-cup-image {
    height: 100%;
    width: 50%;
    background-color: black;

}

.world-cup-image img {
    width: 100%;
}

.first-section {
    margin-bottom: 130px;
}

/* flex child div tag  end */

/* second section start */
.flex-grid-mixed {
    display: flex;
}

.left-side {
    width: 312px;
}

.right-side {
    
}

.blog-image {
    margin-bottom: 20px;
}

.link-button {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;



}

.transfer-live {
    color: #161616;
    font-size: 18px;
    font-weight: 600;
    padding-top: 15px;


}

.clock-chat {
    display: flex;

    justify-content: space-around;
}

.clock {
    
}
.grid-start{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
